.form {
    width: 700px;
    background: linear-gradient(135deg, #59b3ad 25%, transparent 25%) , linear-gradient(45deg, #59b3ad 25%, transparent 25%) ,linear-gradient(135deg, transparent 24%,#e1a6e6 25%, #e1a6e6 30%, transparent 31%, transparent 39%,#e1a6e6 40%, #e1a6e6 45%, transparent 45%),linear-gradient(45deg, transparent 24%,#e1a6e6 25%, #e1a6e6 30%, transparent 31%, transparent 39%,#e1a6e6 40%, #e1a6e6 45%, transparent 45%);
        background-size: 3em 3em;
        background-color: #59b3ad;
        opacity: 1
}